<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Si</key>
	<dict>
		<key>es</key>
		<string>Si</string>
		<key>en</key>
		<string>Yes</string>
		<key>pt</key>
		<string>Sim</string>
	</dict>
	<key>No</key>
	<dict>
		<key>es</key>
		<string>No</string>
		<key>en</key>
		<string>No</string>
		<key>pt</key>
		<string>Não</string>
	</dict>
	<key>invalid_cvv_length</key>
	<dict>
		<key>es</key>
		<string>Ingresa los %1$s números del código de seguridad</string>
		<key>en</key>
		<string>Ingresa los %1$s números del código de seguridad</string>
		<key>pt</key>
		<string>Digite os %1$s números do código de segurança</string>
	</dict>
	<key>invalid_field</key>
	<dict>
		<key>es</key>
		<string>Revisa este dato</string>
		<key>en</key>
		<string>Check this information</string>
		<key>pt</key>
		<string>Verifique este dado</string>
	</dict>
	<key>invalid_card_length</key>
	<dict>
		<key>es</key>
		<string>Ingresa los %1$s números de la tarjeta</string>
		<key>en</key>
		<string>Enter the %1$s card numbers</string>
		<key>pt</key>
		<string>Digite os %1$s números do cartão de crédito</string>
	</dict>
	<key>invalid_card_length_general</key>
	<dict>
		<key>es</key>
		<string>Ingresa todos los números de la tarjeta</string>
		<key>en</key>
		<string>Enter all card numbers</string>
		<key>pt</key>
		<string>Entre todos os números de cartão</string>
	</dict>
	<key>security_code</key>
	<dict>
		<key>es</key>
		<string>Código de seguridad</string>
		<key>en</key>
		<string>Security Code</string>
		<key>pt</key>
		<string>Código de segurança</string>
	</dict>
	<key>PAYMENT_ERROR</key>
	<dict>
		<key>es</key>
		<string>No se pudo realizar el pago.</string>
		<key>en</key>
		<string>Payment failed.</string>
		<key>pt</key>
		<string>Não foi possível realizar o pagamento</string>
	</dict>
	<key>No se ha podido obtener los métodos de pago con esta preferencia</key>
	<dict>
		<key>es</key>
		<string>No se ha podido obtener los métodos de pago con esta preferencia</string>
		<key>en</key>
		<string>Payment methods could not be obtained with this preference</string>
	</dict>
	<key>visa</key>
	<dict>
		<key>es</key>
		<string>Visa</string>
		<key>en</key>
		<string>Visa</string>
	</dict>
	<key>master</key>
	<dict>
		<key>es</key>
		<string>Mastercard</string>
		<key>en</key>
		<string>Mastercard</string>
	</dict>
	<key>amex</key>
	<dict>
		<key>es</key>
		<string>Amex</string>
		<key>en</key>
		<string>Amex</string>
	</dict>
	<key>Salir</key>
	<dict>
		<key>es</key>
		<string>Salir</string>
		<key>en</key>
		<string>Leave</string>
		<key>pt</key>
		<string>Sair</string>
	</dict>
	<key>Reintentar</key>
	<dict>
		<key>es</key>
		<string>Reintentar</string>
		<key>en</key>
		<string>Retry</string>
		<key>pt</key>
		<string>Tentar novamente</string>
	</dict>
	<key>Hubo un error</key>
	<dict>
		<key>es</key>
		<string>Hubo un error</string>
		<key>en</key>
		<string>There was an error</string>
		<key>pt</key>
		<string>Ocorreu um erro</string>
	</dict>
	<key>Cancelar pago</key>
	<dict>
		<key>es</key>
		<string>Cancelar pago</string>
		<key>en</key>
		<string>Cancel payment</string>
		<key>pt</key>
		<string>Cancelar pagamento</string>
	</dict>
	<key>¿Qué puedo hacer?</key>
	<dict>
		<key>es</key>
		<string>¿Qué puedo hacer?</string>
		<key>en</key>
		<string>What can I do?</string>
		<key>pt</key>
		<string>Que posso fazer?</string>
	</dict>
	<key>El teléfono está al dorso de tu tarjeta.</key>
	<dict>
		<key>es</key>
		<string>El teléfono está al dorso de tu tarjeta.</string>
		<key>en</key>
		<string>The phone number is on the back of your card.</string>
		<key>pt</key>
		<string>O telefone do banco está no verso do seu cartão.</string>
	</dict>
	<key>Pagar con otro medio</key>
	<dict>
		<key>es</key>
		<string>Pagar con otro medio</string>
		<key>en</key>
		<string>Choose another payment method</string>
		<key>pt</key>
		<string>Escolha outro meio de pagamento</string>
	</dict>
	<key>¡Listo! Se acreditó tu pago</key>
	<dict>
		<key>es</key>
		<string>¡Listo! Se acreditó tu pago</string>
		<key>en</key>
		<string>Done! Your payment was accredited</string>
		<key>pt</key>
		<string>Pronto! O seu pagamento foi aprovado</string>
	</dict>
	<key>También enviamos el código a tu email</key>
	<dict>
		<key>es</key>
		<string>También enviamos el código a tu email</string>
		<key>en</key>
		<string>También enviamos el código a tu email</string>
	</dict>
	<key>Te enviaremos este comprobante a %0</key>
	<dict>
		<key>es</key>
		<string>Te enviaremos este comprobante a %0</string>
		<key>en</key>
		<string>We will send you the data to %0</string>
		<key>pt</key>
		<string>Enviaremos os dados para %0</string>
	</dict>
	<key>Dinero en cuenta de MercadoPago</key>
	<dict>
		<key>es</key>
		<string>Dinero en cuenta de MercadoPago</string>
		<key>en</key>
		<string>Account Money of MercadoPago</string>
	</dict>
	<key>Terminada en </key>
	<dict>
		<key>es</key>
		<string>Terminada en </string>
		<key>en</key>
		<string>Ending in </string>
		<key>pt</key>
		<string>Terminado em </string>
	</dict>
	<key>En tu estado de cuenta verás el cargo como %0</key>
	<dict>
		<key>es</key>
		<string>En tu estado de cuenta verás el cargo como %0</string>
		<key>en</key>
		<string>On your statement you will see the charge as %0</string>
		<key>pt</key>
		<string>Você verá o pagamento na fatura do seu cartão de crédito como %0</string>
	</dict>
	<key>Comprobante</key>
	<dict>
		<key>es</key>
		<string>Comprobante</string>
		<key>en</key>
		<string>Ticket</string>
		<key>pt</key>
		<string>Comprovante</string>
	</dict>
	<key>En menos de 1 hora te enviaremos por e-mail el resultado.</key>
	<dict>
		<key>es</key>
		<string>En menos de 1 hora te enviaremos por e-mail el resultado.</string>
		<key>en</key>
		<string>In less than an hour we will send you the result by e-mail.</string>
		<key>pt</key>
		<string>Em menos de 1 hora, nós enviaremos o resultado por e-mail.</string>
	</dict>
	<key>En menos de 2 días hábiles te diremos por e-mail si se acreditó o si necesitamos más información.</key>
	<dict>
		<key>es</key>
		<string>En menos de 2 días hábiles te diremos por e-mail si se acreditó o si necesitamos más información.</string>
	</dict>
	<key>Por favor, intenta pagar con otro medio.</key>
	<dict>
		<key>es</key>
		<string>Por favor, intenta pagar con otro medio.</string>
		<key>en</key>
		<string>Please try to pay by other means.</string>
		<key>pt</key>
		<string>Por favor, tente pagar de outra forma.</string>
	</dict>
	<key>rejected_high_risk_title</key>
	<dict>
		<key>es</key>
		<string>Por seguridad, tuvimos que rechazar tu pago</string>
		<key>en</key>
		<string>For security reasons, we had to reject your payment</string>
		<key>pt</key>
		<string>Por segurança, foi necessário recusar o seu pagamento</string>
	</dict>
	<key>cc_rejected_insufficient_amount_title</key>
	<dict>
		<key>es</key>
		<string>Tu %0 no tiene fondos suficientes</string>
		<key>en</key>
		<string>Yours %0 has insufficient funds</string>
		<key>pt</key>
		<string>O seu %0 não possui saldo suficiente</string>
	</dict>
	<key>cc_rejected_other_reason_title</key>
	<dict>
		<key>es</key>
		<string>%0 no procesó el pago</string>
		<key>en</key>
		<string>%0 did not process the payment</string>
		<key>pt</key>
		<string>%0 não processou o pagamento</string>
	</dict>
	<key>cc_rejected_max_attempts_title</key>
	<dict>
		<key>es</key>
		<string>Llegaste al límite de intentos permitidos</string>
		<key>en</key>
		<string>You reached the limit of attempts allowed</string>
		<key>pt</key>
		<string>Você chegou ao limite de tentativas permitidas com este cartão</string>
	</dict>
	<key>cc_rejected_duplicated_payment_title</key>
	<dict>
		<key>es</key>
		<string>%0 no procesó el pago</string>
		<key>en</key>
		<string>%0 did not process the payment</string>
		<key>pt</key>
		<string>%0 não processou o pagamento</string>
	</dict>
	<key>cc_rejected_card_disabled_title</key>
	<dict>
		<key>es</key>
		<string>Llama a %0 para que active tu tarjeta</string>
		<key>en</key>
		<string>Calls to %1$s for activate your card</string>
		<key>pt</key>
		<string>Ligue para %0 e desbloqueie o seu cartão</string>
	</dict>
	<key>cc_rejected_bad_filled_other_title</key>
	<dict>
		<key>es</key>
		<string>Algún dato de tu %0 es incorrecto</string>
		<key>en</key>
		<string>Some data of your %1$s is incorect</string>
		<key>pt</key>
		<string>Qualquer dado de seu %0 é incorreto</string>
	</dict>
	<key>cc_rejected_bad_filled_card_number_title</key>
	<dict>
		<key>es</key>
		<string>Algún dato de tu %0 es incorrecto</string>
		<key>en</key>
		<string>Algún dato de tu %0 es incorrecto</string>
		<key>pt</key>
		<string>Qualquer dado de seu %0 é incorreto</string>
	</dict>
	<key>cc_rejected_bad_filled_security_code_title</key>
	<dict>
		<key>es</key>
		<string>Algún dato de tu %0 es incorrecto</string>
		<key>en</key>
		<string>Algún dato de tu %0 es incorrecto</string>
		<key>pt</key>
		<string>Qualquer dado de seu %0 é incorreto</string>
	</dict>
	<key>cc_rejected_bad_filled_date_title</key>
	<dict>
		<key>es</key>
		<string>Algún dato de tu %0 es incorrecto</string>
		<key>en</key>
		<string>The expiration date is not correct.</string>
		<key>pt</key>
		<string>Qualquer dado de seu %0 é incorreto</string>
	</dict>
	<key>cc_rejected_call_for_authorize_title</key>
	<dict>
		<key>es</key>
		<string>¿No pudiste autorizarlo?</string>
		<key>en</key>
		<string>Could not authorize it?</string>
		<key>pt</key>
		<string>Não conseguiu autorizá-lo?</string>
	</dict>
	<key>cc_rejected_plugin_pm_title</key>
	<dict>
		<key>es</key>
		<string>%0 no procesó el pago</string>
		<key>en</key>
		<string>%0 did not process the payment</string>
		<key>pt</key>
		<string>%0 não processou o pagamento</string>
	</dict>
	<key>El número de identificación es inválido</key>
	<dict>
		<key>es</key>
		<string>El número de identificación es inválido</string>
		<key>en</key>
		<string>Invalid identification number</string>
		<key>pt</key>
		<string>O número de identificação é inválido</string>
	</dict>
	<key>rejected_insufficient_data_title</key>
	<dict>
		<key>es</key>
		<string>No fue posible procesar su pago</string>
		<key>en</key>
		<string>Payment could not be processed</string>
		<key>pt</key>
		<string>Não foi possível processar o seu pagamento, desculpe-nos</string>
	</dict>
	<key>rejected_by_bank_title</key>
	<dict>
		<key>es</key>
		<string>No fue posible procesar su pago</string>
		<key>en</key>
		<string>Payment could not be processed</string>
		<key>pt</key>
		<string>Não foi possível processar o seu pagamento, desculpe-nos</string>
	</dict>
	<key>rejected_high_risk_subtitle_credit_card</key>
	<dict>
		<key>es</key>
		<string>Si quieres pagar con el dinero de tu cuenta, contáctate con Atención al Cliente de MercadoPago.

O si prefieres, puedes elegir otro medio de pago.</string>
		<key>en</key>
		<string>If you want to pay with the money from your account, contact Mercado Pago customer service.

 Or if you prefer, you can choose other payment method.</string>
		<key>pt</key>
		<string>SSe você quiser pagar com o dinheiro da sua conta, entre em contato com Atenção ao Cliente do Mercado Pago.

Ou, se preferir, escolha outro meio de pagamento.</string>
	</dict>
	<key>cc_rejected_insufficient_amount_subtitle_credit_card</key>
	<dict>
		<key>es</key>
		<string>¡No te desanimes! Puedes elegir otro medio de pago.</string>
		<key>en</key>
		<string>Don&apos;t worry! You can choose another payment method.</string>
		<key>pt</key>
		<string>Não se preocupe! Você pode escolher outros meios de pagamento.</string>
	</dict>
	<key>cc_rejected_other_reason_subtitle_credit_card</key>
	<dict>
		<key>es</key>
		<string>Usa otra tarjeta u otro medio de pago.</string>
		<key>en</key>
		<string>Use another card or another payment method</string>
		<key>pt</key>
		<string>Use outro cartão ou outro meio de pagamento</string>
	</dict>
	<key>cc_rejected_max_attempts_subtitle_credit_card</key>
	<dict>
		<key>es</key>
		<string>Elige otra tarjeta u otro medio de pago.</string>
		<key>en</key>
		<string>Choose another card or another payment method</string>
		<key>pt</key>
		<string>Use outro cartão ou outro meio de pagamento.</string>
	</dict>
	<key>cc_rejected_duplicated_payment_subtitle_credit_card</key>
	<dict>
		<key>es</key>
		<string>Si necesitas volver a pagar usa otra tarjeta u otro medio de pago.</string>
		<key>en</key>
		<string>If you need to repay, use another card or other payment method.</string>
		<key>pt</key>
		<string>Se você precisar pagar novamente, use outro cartão ou outro meio de pagamento.</string>
	</dict>
	<key>cc_rejected_card_disabled_subtitle_credit_card</key>
	<dict>
		<key>es</key>
		<string>El teléfono está al dorso de tu tarjeta.</string>
		<key>en</key>
		<string>The phone number is on the back of your card.</string>
		<key>pt</key>
		<string>O telefone do banco está no verso do seu cartão.</string>
	</dict>
	<key>cc_rejected_bad_filled_card_number_subtitle_credit_card</key>
	<dict>
		<key>es</key>
		<string>El número de tu %0 es incorrecto.</string>
	</dict>
	<key>cc_rejected_bad_filled_security_code_subtitle_credit_card</key>
	<dict>
		<key>es</key>
		<string>El código de seguridad no es el correcto.</string>
	</dict>
	<key>cc_rejected_bad_filled_date_subtitle_credit_card</key>
	<dict>
		<key>es</key>
		<string>La fecha de vencimiento no es la correcta.</string>
	</dict>
	<key>cc_rejected_call_for_authorize_subtitle_credit_card</key>
	<dict>
		<key>es</key>
		<string></string>
		<key>en</key>
		<string></string>
		<key>pt</key>
		<string></string>
	</dict>
	<key>rejected_high_risk_subtitle_debit_card</key>
	<dict>
		<key>es</key>
		<string>Si quieres pagar con el dinero de tu cuenta, contáctate con Atención al Cliente de MercadoPago. O si prefieres, puedes elegir otro medio de pago.</string>
		<key>en</key>
		<string>&gt;If you want to pay with the money from your account, contact Mercado Pago customer service.

 Or if you prefer, you can choose other payment method.</string>
	</dict>
	<key>cc_rejected_insufficient_amount_subtitle_debit_card</key>
	<dict>
		<key>es</key>
		<string>¡No te desanimes! Recárgala en cualquier banco o desde tu banca electrónica e inténtalo de nuevo. O si prefieres, puedes elegir otro medio de pago.</string>
		<key>en</key>
		<string>Don&apos;t worry! Recharge at any bank or from your electronic banking and try again. Or if you prefer, you can choose another payment method.</string>
	</dict>
	<key>cc_rejected_other_reason_subtitle_debit_card</key>
	<dict>
		<key>es</key>
		<string>Usa otra tarjeta u otro medio de pago.</string>
		<key>en</key>
		<string>Use another card or another payment method</string>
	</dict>
	<key>cc_rejected_max_attempts_subtitle_debit_card</key>
	<dict>
		<key>es</key>
		<string>Elige otra tarjeta u otro medio de pago.</string>
		<key>en</key>
		<string>Choose another card or another payment method.</string>
	</dict>
	<key>cc_rejected_duplicated_payment_subtitle_debit_card</key>
	<dict>
		<key>es</key>
		<string>Si necesitas volver a pagar usa otra tarjeta u otro medio de pago.</string>
		<key>en</key>
		<string>If you need to repay, use another card or other payment method.</string>
	</dict>
	<key>cc_rejected_card_disabled_subtitle_debit_card</key>
	<dict>
		<key>es</key>
		<string>El teléfono está al dorso de tu tarjeta.</string>
		<key>en</key>
		<string>The phone number is on the back of your card.</string>
	</dict>
	<key>cc_rejected_bad_filled_card_number_subtitle_debit_card</key>
	<dict>
		<key>es</key>
		<string>El número de tu %0 es incorrecto.</string>
		<key>en</key>
		<string>The number of your %0 is incorrect.</string>
	</dict>
	<key>cc_rejected_bad_filled_security_code_subtitle_debit_card</key>
	<dict>
		<key>es</key>
		<string>El código de seguridad no es el correcto.</string>
		<key>en</key>
		<string>The security code is not correct</string>
	</dict>
	<key>cc_rejected_bad_filled_date_subtitle_debit_card</key>
	<dict>
		<key>es</key>
		<string>La fecha de vencimiento no es la correcta.</string>
		<key>en</key>
		<string>The expiration date is not correct.</string>
	</dict>
	<key>cc_rejected_call_for_authorize_subtitle_debit_card</key>
	<dict>
		<key>es</key>
		<string></string>
		<key>en</key>
		<string></string>
		<key>pt</key>
		<string></string>
	</dict>
	<key>Ingresalo nuevamente</key>
	<dict>
		<key>es</key>
		<string>Ingresalo nuevamente</string>
		<key>en</key>
		<string>Enter again</string>
		<key>pt</key>
		<string>Digite novamente</string>
	</dict>
	<key>Ver promociones</key>
	<dict>
		<key>es</key>
		<string>Ver promociones</string>
		<key>en</key>
		<string>Show Promotions</string>
		<key>pt</key>
		<string></string>
	</dict>
	<key>Número de tarjeta</key>
	<dict>
		<key>es</key>
		<string>Número de tarjeta</string>
		<key>en</key>
		<string>Card number</string>
		<key>pt</key>
		<string>Número do cartão</string>
	</dict>
	<key>NOMBRE APELLIDO</key>
	<dict>
		<key>es</key>
		<string>NOMBRE APELLIDO</string>
		<key>en</key>
		<string>NAME SURNAME</string>
		<key>pt</key>
		<string>NOME SOBRENOME</string>
	</dict>
	<key>MM/AA</key>
	<dict>
		<key>es</key>
		<string>MM/AA</string>
		<key>en</key>
		<string>MM/AA</string>
		<key>pt</key>
		<string>MM/AA</string>
	</dict>
	<key>Fecha de expiración</key>
	<dict>
		<key>es</key>
		<string>Fecha de expiración</string>
		<key>en</key>
		<string>Expiration date</string>
		<key>pt</key>
		<string>Data de expiração</string>
	</dict>
	<key>Código de seguridad</key>
	<dict>
		<key>es</key>
		<string>Código de seguridad</string>
		<key>en</key>
		<string>Security code</string>
		<key>pt</key>
		<string>Código de segurança</string>
	</dict>
	<key>Continuar</key>
	<dict>
		<key>es</key>
		<string>Continuar</string>
		<key>en</key>
		<string>Continue</string>
		<key>pt</key>
		<string>Continuar</string>
	</dict>
	<key>Anterior</key>
	<dict>
		<key>es</key>
		<string>Anterior</string>
		<key>en</key>
		<string>Previous</string>
		<key>pt</key>
		<string>Anterior</string>
	</dict>
	<key>Siguiente</key>
	<dict>
		<key>es</key>
		<string>Siguiente</string>
		<key>en</key>
		<string>Next</string>
		<key>pt</key>
		<string>Seguinte</string>
	</dict>
	<key>Ingresa el número de la tarjeta de crédito</key>
	<dict>
		<key>es</key>
		<string>Ingresa el número de la tarjeta de crédito</string>
		<key>en</key>
		<string>Enter all the numbers of the card</string>
		<key>pt</key>
		<string>Digite todos os números do cartão</string>
	</dict>
	<key>Revisa este dato</key>
	<dict>
		<key>es</key>
		<string>Revisa este dato</string>
		<key>en</key>
		<string>Check this information</string>
		<key>pt</key>
		<string>Revise este dado</string>
	</dict>
	<key>Ingresa el nombre y apellido impreso en la tarjeta</key>
	<dict>
		<key>es</key>
		<string>Ingresa el nombre y apellido impreso en la tarjeta</string>
		<key>en</key>
		<string>Enter the name and last name printed on the card</string>
		<key>pt</key>
		<string>Digite o nome e sobrenome impresso no cartão</string>
	</dict>
	<key>Ingresa los %1$s números del código de seguridad</key>
	<dict>
		<key>es</key>
		<string>Ingresa los %1$s números del código de seguridad</string>
		<key>en</key>
		<string>Enter the %1$s security code numbers</string>
		<key>pt</key>
		<string>Digite os %1$s números do código de segurança</string>
	</dict>
	<key>Método de pago no soportado</key>
	<dict>
		<key>es</key>
		<string>Método de pago no soportado</string>
		<key>en</key>
		<string>Payment Method no supported</string>
		<key>pt</key>
		<string>Você não pode pagar com este método de pagamento</string>
	</dict>
	<key>Solo puedes pagar con </key>
	<dict>
		<key>es</key>
		<string>Solo puedes pagar con </string>
		<key>en</key>
		<string>You can only pay with </string>
		<key>pt</key>
		<string>Você só pode pagar com </string>
	</dict>
	<key>No puedes pagar con esta tarjeta</key>
	<dict>
		<key>es</key>
		<string>No puedes pagar con esta tarjeta</string>
		<key>en</key>
		<string>Credit card not supported</string>
		<key>pt</key>
		<string>Você não pode pagar com este cartão</string>
	</dict>
	<key>MAS INFO</key>
	<dict>
		<key>es</key>
		<string>MÁS INFO</string>
		<key>en</key>
		<string>MORE INFO</string>
		<key>pt</key>
		<string>MAIS INFO</string>
	</dict>
	<key>Ingresar tarjeta</key>
	<dict>
		<key>es</key>
		<string>Ingresar tarjeta</string>
		<key>en</key>
		<string>Enter Card</string>
		<key>pt</key>
		<string>Tentar com outro cartão</string>
	</dict>
	<key>No te preocupes, aún puedes terminar tu pago con:</key>
	<dict>
		<key>es</key>
		<string>No te preocupes, aún puedes terminar tu pago con:</string>
		<key>en</key>
		<string>Don’t worry, you can still pay with:</string>
		<key>pt</key>
		<string>Não se preocupe, você ainda pode terminar o seu pagamento com:</string>
	</dict>
	<key>Nombre y apellido</key>
	<dict>
		<key>es</key>
		<string>Nombre y apellido</string>
		<key>en</key>
		<string>Name and surname</string>
		<key>pt</key>
		<string>Nome e sobrenome</string>
	</dict>
	<key>OK</key>
	<dict>
		<key>es</key>
		<string>OK</string>
		<key>en</key>
		<string>OK</string>
		<key>pt</key>
		<string>OK</string>
	</dict>
	<key>DOCUMENTO DEL TITULAR DE LA TARJETA</key>
	<dict>
		<key>es</key>
		<string>DOCUMENTO DEL TITULAR DE LA TARJETA</string>
		<key>en</key>
		<string>CARD HOLDER DOCUMENT</string>
		<key>pt</key>
		<string>DOCUMENTO DO TITULAR</string>
	</dict>
	<key>Número</key>
	<dict>
		<key>es</key>
		<string>Número</string>
		<key>en</key>
		<string>Number</string>
		<key>pt</key>
		<string>Número</string>
	</dict>
	<key>Tipo</key>
	<dict>
		<key>es</key>
		<string>Tipo</string>
		<key>en</key>
		<string>Type</string>
		<key>pt</key>
		<string>Tipo</string>
	</dict>
	<key> Sin interés</key>
	<dict>
		<key>es</key>
		<string> Sin interés</string>
		<key>en</key>
		<string> Interest free</string>
		<key>pt</key>
		<string> Sem juros</string>
	</dict>
	<key>¿En cuántas cuotas?</key>
	<dict>
		<key>es</key>
		<string>¿En cuántas cuotas?</string>
		<key>en</key>
		<string>How many installments?</string>
		<key>pt</key>
		<string>Em quantas parcelas?</string>
	</dict>
	<key>No incluye intereses bancarios</key>
	<dict>
		<key>es</key>
		<string>No incluye intereses bancarios</string>
		<key>en</key>
		<string>Doesn&apos;t include bank interest</string>
		<key>pt</key>
		<string>Não inclui juros bancários</string>
	</dict>
	<key>¿Quién emitió tu tarjeta?</key>
	<dict>
		<key>es</key>
		<string>¿Quién emitió tu tarjeta?</string>
		<key>en</key>
		<string>Which is your bank?</string>
		<key>pt</key>
		<string>Qual é o seu banco?</string>
	</dict>
	<key>¿Qué tipo de tarjeta es?</key>
	<dict>
		<key>es</key>
		<string>¿Qué tipo de tarjeta es?</string>
		<key>en</key>
		<string>Which type of card is it?</string>
		<key>pt</key>
		<string>Qual é o tipo do cartão?</string>
	</dict>
	<key>Crédito</key>
	<dict>
		<key>es</key>
		<string>Crédito</string>
		<key>en</key>
		<string>Credit</string>
	</dict>
	<key>Débito</key>
	<dict>
		<key>es</key>
		<string>Débito</string>
		<key>en</key>
		<string>Debit</string>
	</dict>
	<key>¿Cuál es el tipo de persona?</key>
	<dict>
		<key>es</key>
		<string>¿Cuál es el tipo de persona?</string>
		<key>en</key>
		<string>Which is your entity&apos;s type?</string>
		<key>pt</key>
		<string>Qual é o tipo de pessoa?</string>
	</dict>
	<key>Natural</key>
	<dict>
		<key>es</key>
		<string>Natural</string>
		<key>en</key>
		<string>Individual</string>
		<key>pt</key>
		<string>Física</string>
	</dict>
	<key>Jurídica</key>
	<dict>
		<key>es</key>
		<string>Jurídica</string>
		<key>en</key>
		<string>Association</string>
		<key>pt</key>
		<string>Jurídica</string>
	</dict>
	<key>¿Cuál es tu banco?</key>
	<dict>
		<key>es</key>
		<string>¿Cuál es tu banco?</string>
		<key>en</key>
		<string>Which is your bank?</string>
		<key>pt</key>
		<string>Qual é o seu banco?</string>
	</dict>
	<key>¡Felicitaciones!</key>
	<dict>
		<key>es</key>
		<string>¡Felicitaciones!</string>
		<key>en</key>
		<string>¡Congratulations!</string>
		<key>pt</key>
		<string>Parabéns!</string>
	</dict>
	<key>Se aprobó tu pago.</key>
	<dict>
		<key>es</key>
		<string>Se aprobó tu pago.</string>
		<key>en</key>
		<string>Se aprobó tu pago.</string>
		<key>pt</key>
		<string>O seu pagamento foi aprovado</string>
	</dict>
	<key>Estamos procesando el pago</key>
	<dict>
		<key>es</key>
		<string>Estamos procesando el pago</string>
		<key>en</key>
		<string>We are processing the payment</string>
		<key>pt</key>
		<string>Estamos processando o pagamento</string>
	</dict>
	<key>¡Ups! Ocurrió un problema</key>
	<dict>
		<key>es</key>
		<string>¡Ups! Ocurrió un problema</string>
		<key>en</key>
		<string>¡Ups! Ocurrió un problema</string>
		<key>pt</key>
		<string>Ops!, algo deu errado</string>
	</dict>
	<key>Imprime el cupón y paga. Se acreditará en 1 a 3 días hábiles.</key>
	<dict>
		<key>es</key>
		<string>Imprime el cupón y paga. Se acreditará en 1 a 3 días hábiles.</string>
		<key>en</key>
		<string>Imprime el cupón y paga. Se acreditará en 1 a 3 días hábiles.</string>
		<key>pt</key>
		<string>Imprima o boleto e realize o pagamento - Será aprovado no prazo de 1 a 3 dias úteis</string>
	</dict>
	<key>En unos minutos te enviaremos por e-mail el resultado.</key>
	<dict>
		<key>es</key>
		<string>En unos minutos te enviaremos por e-mail el resultado.</string>
		<key>en</key>
		<string>En unos minutos te enviaremos por e-mail el resultado.</string>
		<key>pt</key>
		<string>Em poucos minutos enviaremos por e-mail o resultado</string>
	</dict>
	<key>terminada en </key>
	<dict>
		<key>es</key>
		<string>terminada en </string>
		<key>en</key>
		<string>ending in </string>
		<key>pt</key>
		<string>terminado em </string>
	</dict>
	<key>Sin interés</key>
	<dict>
		<key>es</key>
		<string>Sin interés</string>
		<key>en</key>
		<string>Interest free</string>
		<key>pt</key>
		<string>Sem juros</string>
	</dict>
	<key>Uy, no pudimos procesar el pago</key>
	<dict>
		<key>es</key>
		<string>Uy, no pudimos procesar el pago</string>
		<key>en</key>
		<string>Oops, we could not process your payment</string>
		<key>pt</key>
		<string>Ops, não foi possível processar o seu pagamento</string>
	</dict>
	<key>Algún dato de tu %1$s es incorrecto.</key>
	<dict>
		<key>es</key>
		<string>Algún dato de tu %1$s es incorrecto.</string>
		<key>en</key>
		<string>Some data of your %1$s is incorect.</string>
		<key>pt</key>
		<string>Algún dato de tu %1$s es incorrecto.</string>
	</dict>
	<key>El teléfono está al dorso de tu tarjeta</key>
	<dict>
		<key>es</key>
		<string>El teléfono está al dorso de tu tarjeta</string>
		<key>en</key>
		<string>The phone number is on the back of your card</string>
		<key>pt</key>
		<string>O telefone do banco está no verso do seu cartão.</string>
	</dict>
	<key>Debes autorizar el pago ante tu tarjeta</key>
	<dict>
		<key>es</key>
		<string>Debes autorizar el pago ante tu tarjeta</string>
		<key>en</key>
		<string>You must authorize the payment with your card</string>
		<key>pt</key>
		<string>Você deve autorizar o pagamento de seu cartão</string>
	</dict>
	<key>Debes autorizar ante %1$s el pago de </key>
	<dict>
		<key>es</key>
		<string>Debes autorizar ante %1$s el pago de </string>
		<key>en</key>
		<string>You must authorize with %1$s the payment of </string>
		<key>pt</key>
		<string>Você deve autorizar junto ao %1$s o pagamento do </string>
	</dict>
	<key> a Mercado Pago</key>
	<dict>
		<key>es</key>
		<string> a Mercado Pago</string>
		<key>en</key>
		<string> to Mercado Pago</string>
		<key>pt</key>
		<string> o Mercado Pago</string>
	</dict>
	<key>Ya hablé con %1$s y me autorizó</key>
	<dict>
		<key>es</key>
		<string>Ya hablé con %1$s y me autorizó</string>
		<key>en</key>
		<string>Already talked with %0 and I am authorized</string>
		<key>pt</key>
		<string>Já falei com %1$s e me autoriza</string>
	</dict>
	<key>En poquitas horas te diremos por e-mail si se acreditó o si necesitamos más información.</key>
	<dict>
		<key>es</key>
		<string>En poquitas horas te diremos por e-mail si se acreditó o si necesitamos más información.</string>
		<key>en</key>
		<string>In a few hours we will tell you by e-mail if it is accredited or if we need more information.</string>
		<key>pt</key>
		<string>Em menos de 1 hora, nós enviaremos o resultado por e-mail.</string>
	</dict>
	<key>Total</key>
	<dict>
		<key>es</key>
		<string>Total</string>
		<key>en</key>
		<string>Total</string>
		<key>pt</key>
		<string>Total</string>
	</dict>
	<key>Medio de pago</key>
	<dict>
		<key>es</key>
		<string>Medio de pago</string>
		<key>en</key>
		<string>Payment Method</string>
		<key>pt</key>
		<string>Meio de pagamento</string>
	</dict>
	<key>Total a pagar </key>
	<dict>
		<key>es</key>
		<string>Total a pagar </string>
		<key>en</key>
		<string>Total to pay </string>
		<key>pt</key>
		<string>Total a pagar </string>
	</dict>
	<key>Al pagar, afirmo que soy mayor de edad y acepto los Términos y Condiciones de Mercado Pago</key>
	<dict>
		<key>es</key>
		<string>Al pagar, afirmo que soy mayor de edad y acepto los Términos y Condiciones de Mercado Pago</string>
		<key>en</key>
		<string>By paying, I claim to be an adult and that I accept the Terms and Conditions</string>
		<key>pt</key>
		<string>Ao pagar, afirmo que eu sou maior de idade e concordar com os Termos e Condições do Mercado Pago</string>
	</dict>
	<key>¿Cómo quieres pagar?</key>
	<dict>
		<key>es</key>
		<string>¿Cómo quieres pagar?</string>
		<key>en</key>
		<string>How do you want to pay?</string>
		<key>pt</key>
		<string>Como você prefere pagar?</string>
	</dict>
	<key>Términos y Condiciones</key>
	<dict>
		<key>es</key>
		<string>Términos y Condiciones</string>
		<key>en</key>
		<string>Terms and Conditions</string>
		<key>pt</key>
		<string>Termos e Condições</string>
	</dict>
	<key>Con dinero en cuenta</key>
	<dict>
		<key>es</key>
		<string>Con dinero en cuenta</string>
		<key>en</key>
		<string>With account money</string>
		<key>pt</key>
		<string>Com dinheiro em conta</string>
	</dict>
	<key>ryc_title_default</key>
	<dict>
		<key>es</key>
		<string> en un </string>
		<key>en</key>
		<string> in a </string>
		<key>pt</key>
		<string> no </string>
	</dict>
	<key>ryc_title_cargavirtual</key>
	<dict>
		<key>es</key>
		<string> en </string>
		<key>en</key>
		<string> in </string>
		<key>pt</key>
		<string> no </string>
	</dict>
	<key>ryc_title_redlink_bank_transfer</key>
	<dict>
		<key>es</key>
		<string> en tu </string>
		<key>en</key>
		<string> in your </string>
		<key>pt</key>
		<string> com </string>
	</dict>
	<key>ryc_title_bancomer_bank_transfer</key>
	<dict>
		<key>es</key>
		<string> en tu </string>
		<key>en</key>
		<string> in your </string>
		<key>pt</key>
		<string> com </string>
	</dict>
	<key>ryc_title_serfin_bank_transfer</key>
	<dict>
		<key>es</key>
		<string> en tu </string>
		<key>en</key>
		<string> in your </string>
		<key>pt</key>
		<string> com </string>
	</dict>
	<key>ryc_title_banamex_bank_transfer</key>
	<dict>
		<key>es</key>
		<string> en tu </string>
		<key>en</key>
		<string> in your </string>
		<key>pt</key>
		<string> com </string>
	</dict>
	<key>ryc_complementary_bancomer_bank_transfer</key>
	<dict>
		<key>es</key>
		<string>Home Banking de </string>
		<key>en</key>
		<string>Home Banking of </string>
		<key>pt</key>
		<string>Internet Banking de </string>
	</dict>
	<key>ryc_complementary_serfin_bank_transfer</key>
	<dict>
		<key>es</key>
		<string>Home Banking de </string>
		<key>en</key>
		<string>Home Banking of </string>
		<key>pt</key>
		<string>Internet Banking de </string>
	</dict>
	<key>ryc_complementary_redlink_bank_transfer</key>
	<dict>
		<key>es</key>
		<string>Home Banking de </string>
		<key>en</key>
		<string>Home Banking of </string>
		<key>pt</key>
		<string>Internet Banking de </string>
	</dict>
	<key>ryc_complementary_banamex_bank_transfer</key>
	<dict>
		<key>es</key>
		<string>Home Banking de </string>
		<key>en</key>
		<string>Home Banking of </string>
		<key>pt</key>
		<string>Internet Banking de </string>
	</dict>
	<key>ryc_complementary_banamex_atm</key>
	<dict>
		<key>es</key>
		<string>cajero automático de </string>
		<key>en</key>
		<string>ATM of </string>
		<key>pt</key>
		<string>caixa eletrônico de </string>
	</dict>
	<key>ryc_complementary_redlink_atm</key>
	<dict>
		<key>es</key>
		<string>cajero automático de </string>
		<key>en</key>
		<string>ATM of </string>
		<key>pt</key>
		<string>caixa eletrônico de </string>
	</dict>
	<key>ryc_payment_method_redlink_atm</key>
	<dict>
		<key>es</key>
		<string>Red Link</string>
		<key>en</key>
		<string>Red Link</string>
		<key>pt</key>
		<string>Red Link</string>
	</dict>
	<key>ryc_payment_method_redlink_bank_transfer</key>
	<dict>
		<key>es</key>
		<string>Red Link</string>
		<key>en</key>
		<string>Red Link</string>
		<key>pt</key>
		<string>Red Link</string>
	</dict>
	<key>Código de descuento</key>
	<dict>
		<key>es</key>
		<string>Código de descuento</string>
		<key>en</key>
		<string>Discount code</string>
		<key>pt</key>
		<string>Código de desconto</string>
	</dict>
	<key>Canejar</key>
	<dict>
		<key>es</key>
		<string>Canejar</string>
		<key>en</key>
		<string>Exchange</string>
		<key>pt</key>
		<string>Aplicar</string>
	</dict>
	<key>Código inválido</key>
	<dict>
		<key>es</key>
		<string>Código inválido</string>
		<key>en</key>
		<string>Invalid code</string>
		<key>pt</key>
		<string>Código inválido</string>
	</dict>
	<key>de descuento</key>
	<dict>
		<key>es</key>
		<string>de descuento</string>
		<key>en</key>
		<string>of discount</string>
		<key>pt</key>
		<string>de desconto</string>
	</dict>
	<key>Tengo un descuento</key>
	<dict>
		<key>es</key>
		<string>Tengo un descuento</string>
		<key>en</key>
		<string>I have a discount</string>
		<key>pt</key>
		<string>Tenho um desconto</string>
	</dict>
	<key>Total: </key>
	<dict>
		<key>es</key>
		<string>Total: </string>
		<key>en</key>
		<string>Total: </string>
		<key>pt</key>
		<string>Total: </string>
	</dict>
	<key>Vendedor sin descuento disponible</key>
	<dict>
		<key>es</key>
		<string>Vendedor sin descuento disponible</string>
		<key>en</key>
		<string>Merchant without discount available</string>
		<key>pt</key>
		<string>Vendedor não tem desconto disponíveis</string>
	</dict>
	<key>Se agotó la cantidad de usos</key>
	<dict>
		<key>es</key>
		<string>Se agotó la cantidad de usos</string>
		<key>en</key>
		<string>Ran out of quantity uses of discount</string>
		<key>pt</key>
		<string>O número de pedidos esgotados</string>
	</dict>
	<key>Importe fuera del alcance</key>
	<dict>
		<key>es</key>
		<string>Importe fuera del alcance</string>
		<key>en</key>
		<string>Amount out of reach</string>
		<key>pt</key>
		<string>Montante fora do alcance</string>
	</dict>
	<key>La campaña expiró</key>
	<dict>
		<key>es</key>
		<string>La campaña expiró</string>
		<key>en</key>
		<string>/Campaign expired</string>
		<key>pt</key>
		<string>Campanha expirado</string>
	</dict>
	<key>Recuerda desbloquear tu tarjeta antes de confirmar el pago.</key>
	<dict>
		<key>es</key>
		<string>Recuerda desbloquear tu tarjeta antes de confirmar el pago.</string>
		<key>en</key>
		<string>Remember to unlock your card before you confirm the payment</string>
		<key>pt</key>
		<string>Lembre-se de desbloquear o seu cartão antes de confirmar o pagamento.</string>
	</dict>
	<key>desbloquear tu tarjeta</key>
	<dict>
		<key>es</key>
		<string>desbloquear tu tarjeta</string>
		<key>en</key>
		<string>unlock your card</string>
		<key>pt</key>
		<string>desbloquear o seu cartão</string>
	</dict>
	<key>Desbloqueo de Tarjeta</key>
	<dict>
		<key>es</key>
		<string>Desbloqueo de Tarjeta</string>
		<key>en</key>
		<string>Card Unlocking</string>
		<key>pt</key>
		<string>Desbloquear Cartão</string>
	</dict>
	<key>¿Con qué tarjeta?</key>
	<dict>
		<key>es</key>
		<string>¿Con qué tarjeta?</string>
		<key>en</key>
		<string>Which card?</string>
		<key>pt</key>
		<string>Com qual cartão?</string>
	</dict>
	<key>Producto</key>
	<dict>
		<key>es</key>
		<string>Producto</string>
		<key>en</key>
		<string>Product</string>
		<key>pt</key>
		<string>Produto</string>
	</dict>
	<key>Mora</key>
	<dict>
		<key>es</key>
		<string>Mora</string>
		<key>en</key>
		<string>Arrear</string>
		<key>pt</key>
		<string>Atraso</string>
	</dict>
	<key>Cargos</key>
	<dict>
		<key>es</key>
		<string>Cargos</string>
		<key>en</key>
		<string>Charges</string>
		<key>pt</key>
		<string>Cobranças</string>
	</dict>
	<key>Descuentos</key>
	<dict>
		<key>es</key>
		<string>Descuentos</string>
		<key>en</key>
		<string>Discounts</string>
		<key>pt</key>
		<string>Descontos</string>
	</dict>
	<key>Impuestos</key>
	<dict>
		<key>es</key>
		<string>Impuestos</string>
		<key>en</key>
		<string>Taxes</string>
		<key>pt</key>
		<string>Impostos</string>
	</dict>
	<key>Envío</key>
	<dict>
		<key>es</key>
		<string>Envío</string>
		<key>en</key>
		<string>Shipping</string>
		<key>pt</key>
		<string>Remessa</string>
	</dict>
	<key>¡Apúrate a pagar!</key>
	<dict>
		<key>es</key>
		<string>¡Apúrate a pagar!</string>
		<key>en</key>
		<string>¡Apúrate a pagar!</string>
		<key>pt</key>
		<string>¡Apúrate a pagar!</string>
	</dict>
	<key>Algo salió mal...</key>
	<dict>
		<key>es</key>
		<string>Algo salió mal...</string>
		<key>en</key>
		<string>Something went wrong...</string>
		<key>pt</key>
		<string>Algo deu errado...</string>
	</dict>
	<key> de </key>
	<dict>
		<key>es</key>
		<string> de </string>
		<key>en</key>
		<string> of </string>
		<key>pt</key>
		<string> de </string>
	</dict>
	<key>Número de operación </key>
	<dict>
		<key>es</key>
		<string>Número de operación </string>
		<key>en</key>
		<string>Transaction number </string>
		<key>pt</key>
		<string>Número da operação </string>
	</dict>
	<key>January</key>
	<dict>
		<key>es</key>
		<string>Enero</string>
		<key>en</key>
		<string>January</string>
		<key>pt</key>
		<string>Janeiro</string>
	</dict>
	<key>February</key>
	<dict>
		<key>es</key>
		<string>Febrero</string>
		<key>en</key>
		<string>February</string>
		<key>pt</key>
		<string>Fevereiro</string>
	</dict>
	<key>March</key>
	<dict>
		<key>es</key>
		<string>Marzo</string>
		<key>en</key>
		<string>March</string>
		<key>pt</key>
		<string>Março</string>
	</dict>
	<key>April</key>
	<dict>
		<key>es</key>
		<string>Abril</string>
		<key>en</key>
		<string>April</string>
		<key>pt</key>
		<string>Abril</string>
	</dict>
	<key>May</key>
	<dict>
		<key>es</key>
		<string>Mayo</string>
		<key>en</key>
		<string>May</string>
		<key>pt</key>
		<string>Maio</string>
	</dict>
	<key>June</key>
	<dict>
		<key>es</key>
		<string>Junio</string>
		<key>en</key>
		<string>June</string>
		<key>pt</key>
		<string>Junho</string>
	</dict>
	<key>July</key>
	<dict>
		<key>es</key>
		<string>Julio</string>
		<key>en</key>
		<string>July</string>
		<key>pt</key>
		<string>Julho</string>
	</dict>
	<key>August</key>
	<dict>
		<key>es</key>
		<string>Agosto</string>
		<key>en</key>
		<string>August</string>
		<key>pt</key>
		<string>Agosto</string>
	</dict>
	<key>September</key>
	<dict>
		<key>es</key>
		<string>Septiembre</string>
		<key>en</key>
		<string>September</string>
		<key>pt</key>
		<string>Setembro</string>
	</dict>
	<key>October</key>
	<dict>
		<key>es</key>
		<string>Octubre</string>
		<key>en</key>
		<string>October</string>
		<key>pt</key>
		<string>Outubro</string>
	</dict>
	<key>November</key>
	<dict>
		<key>es</key>
		<string>Noviembre</string>
		<key>en</key>
		<string>November</string>
		<key>pt</key>
		<string>Novembro</string>
	</dict>
	<key>December</key>
	<dict>
		<key>es</key>
		<string>Diciembre</string>
		<key>en</key>
		<string>December</string>
		<key>pt</key>
		<string>Dezembro</string>
	</dict>
	<key> terminada en </key>
	<dict>
		<key>en</key>
		<string> ending in </string>
		<key>pt</key>
		<string> terminado em </string>
	</dict>
	<key>Revisa tu pago</key>
	<dict>
		<key>en</key>
		<string>Check your payment</string>
		<key>pt</key>
		<string>Rever o seu pagamento</string>
	</dict>
	<key>Revisa si está todo bien</key>
	<dict>
		<key>en</key>
		<string>Check your payment</string>
		<key>pt</key>
		<string>Revise se está tudo correto</string>
	</dict>
	<key>Cantidad: </key>
	<dict>
		<key>en</key>
		<string>Quantity: </string>
		<key>pt</key>
		<string>Quantidade: </string>
	</dict>
	<key>Precio Unitario: </key>
	<dict>
		<key>en</key>
		<string>Unit price: </string>
		<key>pt</key>
		<string>Preço unitário: </string>
	</dict>
	<key>Pagas</key>
	<dict>
		<key>en</key>
		<string>You will pay</string>
		<key>pt</key>
		<string>Você paga</string>
	</dict>
	<key>Cambiar medio de pago</key>
	<dict>
		<key>en</key>
		<string>Change payment method</string>
		<key>pt</key>
		<string>Alterar meio de pagamento</string>
	</dict>
	<key>Cambiar pago</key>
	<dict>
		<key>en</key>
		<string>Change payment</string>
	</dict>
	<key>Productos</key>
	<dict>
		<key>en</key>
		<string>Products</string>
		<key>pt</key>
		<string>Produtos</string>
	</dict>
	<key>Confirmar</key>
	<dict>
		<key>en</key>
		<string>Confirm</string>
	</dict>
	<key>Pagar</key>
	<dict>
		<key>en</key>
		<string>Pay</string>
	</dict>
	<key>Cancelar Pago</key>
	<dict>
		<key>en</key>
		<string>Cancel Payment</string>
		<key>pt</key>
		<string>Cancelar pagamento</string>
	</dict>
	<key>Pagáras </key>
	<dict>
		<key>en</key>
		<string>You will pay </string>
		<key>pt</key>
		<string>Você pagará </string>
	</dict>
	<key>Selecciona un medio de pago...</key>
	<dict>
		<key>pt</key>
		<string>Escolha o meio de pagamento ...</string>
	</dict>
	<key>Medios de pago</key>
	<dict>
		<key>pt</key>
		<string>Meios de pagamento</string>
	</dict>
	<key>terminada en</key>
	<dict>
		<key>pt</key>
		<string>terminado em</string>
	</dict>
	<key> y </key>
	<dict>
		<key>pt</key>
		<string> e </string>
	</dict>
	<key>Términos y condiciones</key>
	<dict>
		<key>pt</key>
		<string>Termos e condições</string>
	</dict>
	<key>Datos de tu tarjeta</key>
	<dict>
		<key>pt</key>
		<string>Dados do seu cartão</string>
	</dict>
	<key>Atrás</key>
	<dict>
		<key>pt</key>
		<string>Voltar</string>
	</dict>
	<key>Válida hasta</key>
	<dict>
		<key>pt</key>
		<string>Válido até</string>
	</dict>
	<key>Mes / Año</key>
	<dict>
		<key>pt</key>
		<string>Mês / Ano</string>
	</dict>
	<key>Nombre y apellido impreso en la tarjeta</key>
	<dict>
		<key>pt</key>
		<string>Nome e sobrenome impresso no cartão de crédito</string>
	</dict>
	<key>Otro banco</key>
	<dict>
		<key>pt</key>
		<string>Outro banco</string>
	</dict>
	<key>Imprimir cupón</key>
	<dict>
		<key>pt</key>
		<string>Imprima o boleto</string>
	</dict>
	<key>El número de tarjeta que ingresaste no se corresponde con el tipo de tarjeta</key>
	<dict>
		<key>pt</key>
		<string>O número do cartão de crédito digitado não coincide com o tipo de cartão</string>
	</dict>
	<key>El número de tarjeta que ingresaste es incorrecto</key>
	<dict>
		<key>pt</key>
		<string>O número do cartão de crédito digitado está incorreto</string>
	</dict>
	<key>Promociones</key>
	<dict>
		<key>pt</key>
		<string>Promoções</string>
	</dict>
	<key>Promociones vigentes</key>
	<dict>
		<key>pt</key>
		<string>Promoções atuais</string>
	</dict>
	<key>Verifique su conexión a internet e intente nuevamente</key>
	<dict>
		<key>pt</key>
		<string>Sem conexão</string>
	</dict>
	<key>El título del item esta vacio</key>
	<dict>
		<key>pt</key>
		<string>O título do artigo é vazia</string>
	</dict>
	<key>La currency del item esta vacia</key>
	<dict>
		<key>pt</key>
		<string>A moeda do item está vazia</string>
	</dict>
	<key>La preferencia no esta activa</key>
	<dict>
		<key>pt</key>
		<string>A preferência não ativa</string>
	</dict>
	<key>La preferencia esta expirada</key>
	<dict>
		<key>pt</key>
		<string>A preferência é expirado</string>
	</dict>
</dict>
</plist>
